# Database Configuration
MYSQL_ROOT_PASSWORD=DATABASE_ROOT_PW_HERE
MYSQL_DATABASE=DATABASE_NAME_HERE

# Environment
NODE_ENV=development

# Service-specific configurations 
LISTING_SERVICE_PORT=3001
BIDDING_SERVICE_PORT=3002
RESOLUTION_INTERVAL_MINUTES=5

# Service URLs for inter-service communication
LISTING_SERVICE_URL=http://listing-service:3001
BIDDING_SERVICE_URL=http://bidding-service:3002

# Notification Service Configuration
NOTIFICATION_SERVICE_URL=http://localhost:3003

# Kafka Configuration
KAFKA_BROKERS=kafka:9092

# Mailgun Configuration
MAILGUN_API_KEY=PUT_MALEGUN_API_KEY_HERE
MAILGUN_DOMAIN=PUT_MAILGUN_DOMAIN_HERE
EMAIL_FROM=PUT_EMAIL_FROM_HERE
JWT_PRIVATE_KEY=PUT_JWT_PRIVATE_KEY_HERE

# External Service URLs
DIRECT_NOTIFICATION_URL=http://push-notification-service:3005/send
PUSH_NOTIFICATION_URL=http://push-notification-service:3005/push
