# Database Configuration
MYSQL_ROOT_PASSWORD=DATABASE_ROOT_PW_HERE
MYSQL_DATABASE=DATABASE_NAME_HERE

# Environment
NODE_ENV=development

# Service-specific configurations 
LISTING_SERVICE_PORT=3001
BIDDING_SERVICE_PORT=3002
RESOLUTION_INTERVAL_MINUTES=5

# Service URLs for inter-service communication
LISTING_SERVICE_URL=http://listing-service:3001
BIDDING_SERVICE_URL=http://bidding-service:3002

# Notification Service Configuration
NOTIFICATION_SERVICE_URL=http://localhost:3003

# Kafka Configuration
KAFKA_BROKERS=kafka:9092

# Mailgun Configuration
MAILGUN_API_KEY=ad888509ab7eea7bb00a07bd9c7a17bf3-3d4b3a2a-1f1d8b11
MAILGUN_DOMAIN=sandbox864a5d285a2348eba4863ee0f18bebbc.mailgun.org
EMAIL_FROM=postmaster@sandbox864a5d285a2348eba4863ee0f18bebbc.mailgun.org

# External Service URLs
DIRECT_NOTIFICATION_URL=http://push-notification-service:3005/send
PUSH_NOTIFICATION_URL=http://push-notification-service:3005/push
