# Node
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnp/
.pnp.js
.npm

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Docker
docker-compose.override.yml

# Logs
logs/
*.log

# Build output
dist/
build/
out/

# Cache
.cache/
.eslintcache
.stylelintcache

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store 